@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', Arial, sans-serif;
    background: linear-gradient(to top, rgb(208, 173, 230), rgb(153, 119, 131)) no-repeat fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: rgb(65, 70, 81);
    color: aliceblue;
    padding: 20px;
    width: 500px;
    margin: 30px auto 0px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}